

.dataGrid{
      width: fit-content;
      height: fit-content;
     margin: 20px;
}

.container-admin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* CSS File */

.signIn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #e2e8f0; /* bg-slate-200 */
}

.signIn_card {
    width: 100%;
    margin: 0 1.25rem; /* mx-5 */
    max-width: 20rem; 
    height: 25rem;
    background-color: #ffffff;
    border-radius: 1rem; /* rounded-xl */
    padding: 2rem 2rem; /* px-8 py-16 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.button{

  background-color: #add8e6;
  width: 100%;
  color: black;
  background-color: #f8f9fa;
  text-align: center;
  border-radius: 1rem;
  padding: 0.75rem;
cursor: pointer;

}
.get-code-button{
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
background-color: black;
color:#ffffff;
cursor: pointer;

}

.text-field{
  width: 100%;
  margin-top: 10px;
}

.text-light-text {
    /* Add any specific text styles if needed */
    
}
.header{
  font-size: 1.5rem;
  text-align: center;
}

.w-full {
    width: 100%;
}

.mt-6 {
    margin-top: 1.5rem;
}

.gap-2 {
    gap: 0.5rem;
}

.bg-light-createB {
    background-color: #add8e6; /* Example color for bg-light-createB */
}

.bg-light {
     /* Example color for bg-light */
}

.text-black {
    color: black;
}

.text-center {
  text-align: center;
}

.rounded-2xl {
    
}

.p-3 {
    
}

.framer-72eKe .framer-1n6gpwe {
  align-content: center;
  align-items: center;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 .7065919983928324px .7065919983928324px -.625px #00000026, 0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025, 0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023, 0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020, 0 13.646761411524492px 13.646761411524492px -3.125px #0000001b, 0 30px 30px -3.75px #0000000d;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 40px;
  justify-content: center;
  overflow: visible;
  padding: 15px;
  position: relative;
  width: min-content;
}

/* // */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.business-card {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
height: 50%;
margin:0px 50px;
}

.image-placeholder {
  width: 50%;
  height: 100%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.image {
  font-size: 24px;
  color: #555;
}

.content {

  max-width: 40%;
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    justify-content: space-around;
}

.content h2 {
  margin-top: 0;
  font-size: 24px;
}

.content p {
  color: #777;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.learn-more {
  background-color: #f0f0f0;
  color: #333;
}

.get-code {
  background-color: #333;
  color: #fff;
}

/* 
@media screen(800px) {
  .business-card{
    flex-direction: column;
  }
  .image-placeholder {
    width: 100%;
    height: 50%;
  }
  .content {
    height: 50%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}
} */

/* src/Register.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.register-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 30px;
}

.register-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #111;
}

.form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #555;
}

.form-group input {
  width: 93%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.submit {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  background-color: #111;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;

}

button[type="submit"]:hover {
  background-color: #333;
}

@media (max-width: 500px) {
  .register-form {
    padding: 1.5rem;
  }

  .form-group input {
    font-size: 0.9rem;
  }

  button[type="submit"] {
    padding: 0.65rem;
    font-size: 0.9rem;
  }
}
